[mde-swipe-to-refresh]{
  position: relative;
  ._indicator-wrap{
    transition: top .1s;
    position: absolute;
    left: 0;
    right: 0;
  }
  ._indicator{
    border-radius: 50%;
    padding: 10px;
    background: #fff;
  }
  ._updating {
    &.ng-hide-add, &.ng-hide-add-active{
      transition: transform .2s, opacity .2s;
    }
    &.ng-hide-add{
      display: block;
      opacity: 1;
      transform: scale(1);
    }
    &.ng-hide-add-active{
      opacity: 0;
      transform: scale(0);
    }
  }

}